*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 2rem;
}

main{background-color: black;
    display: flex;
    padding:2rem;}
.container-en{ 
    background-color: rgb(32, 32, 55);
    display:flex;
    flex-direction: column;
   
    border: none;
    color:rgb(14, 14, 73);
    border-radius: 24px;
    width: 28rem;
    text-transform: lowercase;
max-height: 30rem;}

.container-des{
    display:flex;
    flex-direction: column;
   
    background: rgb(32, 32, 55);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color:rgb(14, 14, 73);
    margin-left: 4rem;
    width: 22rem;
    max-height: 30rem;
   ;}
   
.text-area {
    margin-top: 5rem;
    height: 60vh;
   margin: 2rem 2rem;
   border-radius: 25px;
   box-shadow: 18px 20px 38px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 18px 20px 38px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 20px 38px -7px rgba(0,0,0,0.75);
  
}
.mensaje{height: 400rem;
    margin-top: 5rem;
   
   margin: 2rem 2rem;
   border-radius: 25px;
   box-shadow: 18px 20px 38px -7px rgba(0,0,0,0.75);
   -webkit-box-shadow: 18px 20px 38px -7px rgba(0,0,0,0.75);
   -moz-box-shadow: 18px 20px 38px -7px rgba(0,0,0,0.75);}
::placeholder{
    color:rgb(14, 14, 73);
}

.text-area:focus{
    outline:none;
}


.mensaje:focus{
outline: none;

}

.botones{
    display: flex;
    margin-top: 18px;
    

}

.btn-desencriptar{
    background: white;
    border: 1px solid blueviolet;
    border-radius: 24px;
    color: blueviolet;
    cursor: pointer;
 
    width: 12vw;
    margin-left: 30px;
}

.btn-encriptar{
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
    width: 12vw;
}

.btn-limpiar{
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin-left: 30px;
    width: 12vw;
}

.copiar{
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 24px;
    color: white;
    cursor: pointer;

    margin-top: 3rem ;
    margin-bottom: 4rem;
    margin-left: 4rem;

    width: 20vw;
}

.informacion{
    color:brown;
    font-size: 18px;
    text-align: center;
}